body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


embed{
  pointer-events: none;
}


p {
  margin-top: 7.5%;
  margin-bottom: 15px;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 20px;
  font-family: 'Raleway', serif;
}

a {
  font-family: 'Raleway', serif;
  margin-left: auto;
  margin-right: auto;
}

h1, h4, h5, h6 {
  font-family: 'Raleway', serif;
}

h2, h3 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Raleway', serif;
  font-weight: bold;
}

figcaption{
  font-family: 'Raleway', serif;
  padding: 10px;
  margin: 10px;
}

figure{
  border: 1px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

figure img{
  padding-top: 20px;
}

a.dropdown-item {
  text-align: center;
  
}

button{
  background-color: #00a794;
}

.ExBut{
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: larger;
  padding: 1% 2% 1% 2%;
}

.dropdown-item:hover, .dropdown-item:active{
  font-size: larger;
  background-color: #00a794;
}

div.accordion-item{
  width: 90%;
  border: 1.5px solid #000;
  margin-left: auto;
  margin-right: auto;
}

.sections-button-border {
  border: 3px solid #000;
  width: auto;
  height: 275px; /* Set a fixed height for all boxes */
  padding: 2.5%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  overflow: hidden; /* Add overflow hidden to prevent text overflow */
}

.sections-button-border img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sections-button-border h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) { /* Adjust as needed for smaller screens */
  .sections-button-border {
      width: 100%; /* Set width to 100% for smaller screens */
      max-width: none; /* Remove maximum width */
  }
}

.sections-button-border:hover{
  border:5px solid firebrick;
}

.sections-button-border:active{
  border:5px solid rgb(255, 255, 0);
}

.colour-block {
  background:#0A3786;
  width:100%;
  padding: 7.5% 7.5% 5% 7.5%;
  padding-top: 100px;
  color:#F9A930;
}

.white-block {
  background:#fff;
  width:100%;
  padding: 7.5% 7.5% 5% 7.5%;
  color:#0A3786;
}

@media only screen and (max-width: 1000px) {
  .colour-block {
    background:#0A3786;
    width:100%;
    padding: 10% 5% 5% 5%;
    padding-top: 100px;
    color:#F9A930;
  }
  
  .white-block {
    background: #fff;
    width: 100%;
    padding: 20% 5% 5% 5%; /* Adjusted padding for better mobile experience */
    color: #0A3786;
  }
  
}

.google-map {
  position: relative;
  width: 75%;
  padding-bottom: 45%; /* Adjusted aspect ratio for better mobile experience */
  margin: 0 auto;
}

.google-map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #ff912a;
}

@media only screen and (max-width: 600px) {
  .google-map {
      padding-bottom: 150%; /* Adjusted aspect ratio for smaller screens */
  }
}






.red-block {
  background:#FF0000;
  width:100%;
  padding:0.1% 0.2% 0.1% 0.2%;
  color:#030303;
}

.grey-block {
  background: #f2f2f2;
  width:100%;
  padding:0.1% 0.2% 0.1% 0.2%;
}


.Footer_Grey_Block {
  background:#f2f2f2;
  width:100%;
  padding:0.1% 0.1% 0.1% 0.1%;
  color:#000;
  border-top: 2px solid #000;
}

.Footer_Bordered_NB {
  background:#f2f2f2;
  width:100%;
  padding:0.1% 0.1% 0.1% 0.1%;
  color:#000;
  border-top: 2px solid #000;
}

.Footer_Bordered {
  background:#f2f2f2;
  width:100%;
  padding:0.1% 0.1% 0.1% 0.1%;
  color:#000;
}

.tborder-grey-block {
  background:#f2f2f2;
  width:100%;
  padding:0.1% 0.1% 0.1% 0.1%;
  color:#000;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}


.object {
  text-align: center;
}



ul.navbar-nav {
  font-family:'Raleway', serif;
  border-bottom:2.5px solid #fff;
}


ul.navbar-nav:hover{
  border-bottom:5px solid #fff;
}

.squirrelbadge{
  text-align: center;
}


a.nav-link:hover{
  font-size: larger;
  font-weight: bold;
}

div.ntcenter {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  padding: 10px;
}




.yellow-block {
  background:#ffe627;
  width:100%;
  color:#000;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.blue-block {
  background:#003982;
  width:100%;
  color:#fff;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.purple-block {
  background:#7413dc;
  width:100%;
  color:#fff;
  border-bottom: 3px solid #9d9d9d;
  padding-bottom: 1.5px;

  
} 

.pink-block {
  background:#ffb4e5;
  width:100%;
  color:#565656;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
 
}

.teal-block {
  background:#088486;
  width:100%;
  color:#fff;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
 
}

.green-block {
  background:#205b41;
  width:100%;
  color:#fff;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
 
}

.orange-block {
  background:#ff912a;
  width:100%;
  color:#414141;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
 
}

.degree-bl{
  width:100%;
  height:100px;
  left:0px;
  background: linear-gradient(to right bottom, #0A3786 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}

 .degree-br {
  width: 100%;
  height: 100px;
  left: 0;
  background: linear-gradient(to left bottom, #0A3786 49%, #fff 50%),    linear-gradient(50deg, #ffffff 16px, #000 0);
}


.degree-tl{
  width:100%;
  height:100px;
  left:0px;
  background: linear-gradient(to left bottom, #fff 49%, #0A3786 50%);
}

.degree-tr {
  width: 100%;
  height: 100px;
  left: 0;
  background: linear-gradient(to right bottom, #fff 49%, #0A3786 50%);
}


.navbar, .nav{
  background-color:  #7413dc;
  
}

.EG{
  color: #fff;
  margin-right: 15px;
  text-align:right;
  font-size:1.45em;
}



.icenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.tcenter {
  text-align: center;
  font-size: 15.5px;
}

.ntcenter {
  display: inline-block;
  vertical-align: middle;
}


.B.Title {
  text-align: center;
  text-decoration:underline;
} 

.beavers {
  border:4.5px solid #e22e12;
  width: 100%;
  height: auto;
 }
 .beavers:hover {
  border:4.5px solid #006ddf;
 }

.cubs {
  border: 4.5px solid #088486;
  width: 100%;
  height: auto;
 }

 .cubs:hover {
  border: 4.5px solid #23a950;
 
 }


 .scouts {
  border: 4.5px solid #ffe627;
  width: 100%;
  height: auto;
 }

 .scouts:hover {
  border: 4.5px solid #004851;
  
 }

 
 
 .Footer_outer{
  width: auto;
  background-color:  #f2f2f2;
  }
  
  .Footer_inner_left{
  width: 50%;
  Float: left;
  display:inline;
  background-color:  #f2f2f2;
  text-align: center;
  }
  
  .Footer_inner_right{
  width: 50%;
  Float: right;
  display:inline;
  background-color:  #f2f2f2;
  text-align: center;
  }

  .ftcenter {
    text-align: center;
    font-size: 15.5px;
  }
  .ftcenterm {
    text-align: center;
    font-size: 15.5px;
    margin-top: 26px;
  }

  .footer-header-center {
    text-align: center;
    font-weight: bold;
  }

  
  .Sfsize{
    width: 35px;
  }
  .Sfsize:hover{
    width: 65px;
  }

  

  .colour-title{
    text-align:center; 
    text-decoration:underline; 
    font-family:'Raleway', serif; 
    font-weight: bold;
  }

  .underline {
    text-decoration: underline;
    font-size:20px;
    font-family:'Raleway', serif;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5%;
    margin-left: 5%;
  }

  .tbold {
    font-weight: bold;
  }

  .twhite{
    color: #fff;
  }

  .smsize{
    font-size: 20px;
    margin-left: 5%;
  }

  .thirdtyfive{
    width: 35%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .sectioncenter {
    text-align: center;
  }
  .marg{
    margin-left: 2%;
    margin-right: 2%;
  }

  .explist {
    font-size: 20px;
    font-family: 'Raleway', serif;
    margin-left: 5%;
  }

  .sectionsquirrels{
    border-style: solid;
    border-color: #ed3f23;
    background-color: #fcfcfc;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .sectionbeavers{
    border-style: solid;
    border-color: #006ddf;
    background-color: #fcfcfc;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .sectioncubs{
    border-style: solid;
    border-color: #25b755;
    background-color: #fcfcfc;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
  .sectionscouts{
    border-style: solid;
    border-color: #088486;
    background-color: #fcfcfc;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .sectionexplorers{
    border-style: solid;
    border-color: #003982;
    background-color: #fcfcfc;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .responsive-iframe-container {
    position: relative;
    padding-bottom: 45%; /* Adjust this value as needed for your desired aspect ratio */
    height: 0;
    overflow: hidden;
  }

  .responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  div.scroll-container{
    background-color: #f7f7f7;
    overflow-x: auto; /* Enable horizontal scrolling */
    display: flex; /* Use flexbox for horizontal layout */
    margin: 10px;
    
  }

  .scroll-container img{
    border-top:2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 10px;
  }
  
  div.scroll-container figure {
    margin: 0; /* Remove default margin */
    padding: 0 10px; /* Add padding between images */
    flex: 0 0 auto; /* Allow flex items to shrink and grow, but not shrink below their content size */
    text-align: center; /* Center the caption */
  }
  
  div.scroll-container img {
    height: 350px;
  }
  
  
figcaption{
  font-family: 'Raleway', serif;
  font-size: large;
}

  


.BPbutn:link, .BPbutn:visited {
  background-color: #00a794;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:90%;
  border-radius: 8px;
  border:4.5px solid #fff;
  font-size: 20px;
}

.BPbutn:hover, .BPbutn:active {
  width: 100%;
  border:6px solid #fff;
}

.AUbutn:link, .AUbutn:visited {
  background-color: #ffb4e5;
  color: #565656;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:90%;
  border-radius: 8px;
  border:4.5px solid #fff;
  font-size: 20px;
  font-weight: bolder;
}

.AUbutn:hover, .AUbutn:active {
  width: 100%;
  border:6px solid #fff;
}

.Sbutn:link, .Sbutn:visited {
  background-color: #7413dc;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:90%;
  border-radius: 8px;
  border:4.5px solid #fff;
  font-size: 20px;
}

.whitetext{
  color: #fff;
  font-size: xx-small;
}
.Sbutn:hover, .Sbutn:active {
  width: 100%;
  border:6px solid #fff;
}

.redborder {
  border: 4.5px solid #e22e12;
  width:85%;
}



.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align items vertically (center) */
  align-items: center; /* Align items horizontally (center) */
}

#photo {
  width: 75%;
  max-width: 97.5%; /* Resize the photo to fit within the column */
}

#pdf {
  width: 75%;
  max-width: 97.5%; /* Resize the PDF object to fit within the column */
  height: 250px;
}


.centerhred{
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  

.badge-placement-imagelink-text {
  font-size: 12.5px;
  color: red;
}

.EasyFundrasing-LinkText {
  text-align: center;
  font-size: 15px;
}

.font{
  font-family:'Raleway', serif;
  text-align: center;
}


.callout {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; 
  max-width: 350px;
  z-index: 9999; 
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.callout-header {
  padding: 15px;
  background: #555;
  font-size: 24px; 
  color: white;
  text-align: center;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
}


.callout-container {
  padding: 15px;
  color: black;
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 10px;
  color: rgb(0, 0, 0);
  font-size: 24px; 
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}

@media screen and (min-width: 900px) {
  .callout {
      width: 55%; 
      max-width: 85%;
  }
}


#overlay {
position: fixed;
display: none;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.85);
z-index: 2;
cursor: pointer;
}

#text{
position: absolute;
top: 50%;
left: 50%;
font-size: 50px;
color: white;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
}

