p {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 30px;
  margin-left: 30px;
}


a.dropdown-item {
  text-align: center;
  
}

.dropdown-item:hover, .dropdown-item:active{
  font-size: larger;
  background-color: #00a794;

}


.colour-block {
  background:#0A3786;
  width:100%;
  padding: 7.5% 7.5% 5% 7.5%;
  padding-top: 100px;
  color:#F9A930;
}

.white-block {
  background:#fff;
  width:100%;
  padding: 7.5% 7.5% 5% 7.5%;
  color:#0A3786;
}

@media only screen and (max-width: 1000px) {
  .colour-block {
    background:#0A3786;
    width:100%;
    padding: 10% 5% 5% 5%;
    padding-top: 100px;
    color:#F9A930;
  }
  
  .white-block {
    background: #fff;
    width: 100%;
    padding: 20% 5% 5% 5%; /* Adjusted padding for better mobile experience */
    color: #0A3786;
  }
  
}

.google-map {
  position: relative;
  width: 75%;
  padding-bottom: 45%; /* Adjusted aspect ratio for better mobile experience */
  margin: 0 auto;
}

.google-map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #ff912a;
}

@media only screen and (max-width: 600px) {
  .google-map {
      padding-bottom: 150%; /* Adjusted aspect ratio for smaller screens */
  }
}






.red-block {
  background:#FF0000;
  width:100%;
  padding:0.1% 0.2% 0.1% 0.2%;
  color:#030303;
}

.grey-block {
  background: #f2f2f2;
  width:100%;
  padding:0.1% 0.2% 0.1% 0.2%;
}

.Footer_Grey_Block {
  background:#f2f2f2;
  width:100%;
  padding:0.1% 0.1% 0.1% 0.1%;
  color:#000;
  border-top: 2px solid #000;
}

.Footer_Bordered_NB {
  background:#f2f2f2;
  width:100%;
  padding:0.1% 0.1% 0.1% 0.1%;
  color:#000;
  border-top: 2px solid #000;
}

.Footer_Bordered {
  background:#f2f2f2;
  width:100%;
  padding:0.1% 0.1% 0.1% 0.1%;
  color:#000;
}

.tborder-grey-block {
  background:#f2f2f2;
  width:100%;
  padding:0.1% 0.1% 0.1% 0.1%;
  color:#000;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}


.object {
  text-align: center;
}

p {
  font-size:20px;
  font-family:'Raleway', serif;

}

a {
  font-family:'Raleway', serif;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family:'Raleway', serif;
}

h2 {
  text-align:center; 
  text-decoration:underline; 
  font-family:'Raleway', serif;  
  font-weight: bold;
}

h3 {
  text-align:center; 
  text-decoration:underline; 
  font-family:'Raleway', serif;  
  font-weight: bold;
}


h4 {
  font-family:'Raleway', serif;
}

h5 {
  font-family:'Raleway', serif;
}

h6 {
  font-family:'Raleway', serif;
}

ul.navbar-nav {
  font-family:'Raleway', serif;

  border-bottom:2.5px solid #fff;
}


ul.navbar-nav:hover{
  border-bottom:5px solid #fff;
}


a.nav-link:hover{
  font-size: larger;
  color: #fff;
  font-weight: bold;
}

div.ntcenter {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  padding: 10px;
}




t {
  text-align:center; 
  text-decoration:underline; 
  font-family:'Raleway', serif;  
  font-weight: bold;
}

.blue-block {
  background:#003982;
  width:100%;
  color:#fff;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.purple-block {
  background:#7413dc;
  width:100%;
  color:#fff;
  border-bottom: 3px solid #9d9d9d;
  padding-bottom: 1.5px;

  
} 

.pink-block {
  background:#ffb4e5;
  width:100%;
  color:#565656;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
 
}

.teal-block {
  background:#088486;
  width:100%;
  color:#fff;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
 
}

.green-block {
  background:#205b41;
  width:100%;
  color:#fff;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
 
}

.orange-block {
  background:#ff912a;
  width:100%;
  color:#414141;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
 
}

.degree-bl{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to right bottom, #0A3786 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}

 .degree-br {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  background: linear-gradient(to left bottom, #0A3786 49%, #fff 50%),    linear-gradient(50deg, #ffffff 16px, #000 0);
}


.degree-tl{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to left bottom, #fff 49%, #0A3786 50%);
}

.degree-tr {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  background: linear-gradient(to right bottom, #fff 49%, #0A3786 50%);
}


.navbar, .nav{
  background-color:  #7413dc;
  
}

.EG{
  color: #fff;
  margin-right: 15px;
  text-align:right;
  font-size:1.45em;
}



.icenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.tcenter {
  text-align: center;
  font-size: 15.5px;
}

.ntcenter {
  display: inline-block;
  vertical-align: middle;
}


.B.Title {
  text-align: center;
  text-decoration:underline;
} 

.beavers {
  border:4.5px solid #e22e12;
  width: 100%;
  height: auto;
 }
 .beavers:hover {
  border:4.5px solid #006ddf;
 }

.cubs {
  border: 4.5px solid #088486;
  width: 100%;
  height: auto;
 }

 .cubs:hover {
  border: 4.5px solid #23a950;
 
 }


 .scouts {
  border: 4.5px solid #ffe627;
  width: 100%;
  height: auto;
 }

 .scouts:hover {
  border: 4.5px solid #004851;
  
 }

 
 
 .Footer_outer{
  width: auto;
  background-color:  #f2f2f2;
  }
  
  .Footer_inner_left{
  width: 50%;
  Float: left;
  display:inline;
  background-color:  #f2f2f2;
  text-align: center;
  }
  
  .Footer_inner_right{
  width: 50%;
  Float: right;
  display:inline;
  background-color:  #f2f2f2;
  text-align: center;
  }

  .ftcenter {
    text-align: center;
    font-size: 15.5px;
  }
  .ftcenterm {
    text-align: center;
    font-size: 15.5px;
    margin-top: 26px;
  }

  .footer-header-center {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
  }



  .Sfsize{
    width: 35px;
  }
  .Sfsize:hover{
    width: 65px;
  }

  

  .colour-title{
    text-align:center; 
    text-decoration:underline; 
    font-family:'Raleway', serif; 
    font-weight: bold;
  }

  .underline {
    text-decoration: underline;
    font-size:20px;
    font-family:'Raleway', serif;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .tbold {
    font-weight: bold;
  }

  .twhite{
    color: #fff;
  }

  .smsize{
    font-size: 20px;
  }

  .thirdtyfive{
    width: 35%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .sectioncenter {
    text-align: center;
  }
  .marg{
    margin-left: 2%;
    margin-right: 2%;
  }

  .explist {
  font-size: 16px;
  font-family:'Raleway', serif;
  }

  .sectionsquirrels{
    border-style: solid;
    border-color: #ed3f23;
    background-color: #fcfcfc;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .sectionbeavers{
    border-style: solid;
    border-color: #006ddf;
    background-color: #fcfcfc;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .sectioncubs{
    border-style: solid;
    border-color: #25b755;
    background-color: #fcfcfc;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
  .sectionscouts{
    border-style: solid;
    border-color: #088486;
    background-color: #fcfcfc;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .sectionexplorers{
    border-style: solid;
    border-color: #003982;
    background-color: #fcfcfc;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  .responsive-iframe-container {
    position: relative;
    padding-bottom: 45%; /* Adjust this value as needed for your desired aspect ratio */
    height: 0;
    overflow: hidden;
  }

  .responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  div.scroll-container {
    background-color: #f7f7f7;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }
  


.BPbutn:link, .BPbutn:visited {
  background-color: #00a794;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:90%;
  border-radius: 8px;
  border:4.5px solid #fff;
  font-size: 20px;
}

.BPbutn:hover, .BPbutn:active {
  width: 100%;
  border:6px solid #fff;
}

.AUbutn:link, .AUbutn:visited {
  background-color: #ffb4e5;
  color: #565656;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:90%;
  border-radius: 8px;
  border:4.5px solid #fff;
  font-size: 20px;
  font-weight: bolder;
}

.AUbutn:hover, .AUbutn:active {
  width: 100%;
  border:6px solid #fff;
}

.Sbutn:link, .Sbutn:visited {
  background-color: #7413dc;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:90%;
  border-radius: 8px;
  border:4.5px solid #fff;
  font-size: 20px;
}

.Sbutn:hover, .Sbutn:active {
  width: 100%;
  border:6px solid #fff;
}

.redborder {
  border: 4.5px solid #e22e12;
  width:85%;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.centerhred{
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  

.badge-placement-imagelink-text {
  font-size: 12.5px;
  color: red;
}

.EasyFundrasing-LinkText {
  text-align: center;
  font-size: 15px;
}


