

.welcome-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
}

.content {
    flex: 1 1 50%;
    padding: 20px;
}

.content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5vh;
    color: #222;
   
}

.content h1 span {
    color: #007bff;
    margin-left: 10%;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
}

.description {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 15px;
    color: #555;
}

.description span {
    color: #7413dc;
    font-weight: bold;
}

.highlight {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #7413dc;
    font-weight: bold;
}

.image {
    flex: 1 1 40%;
    padding: 20px;
    text-align: center;
    
}

.image img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-bottom: 0.1px solid #eeeeee; 
    border-left: 0.1px solid #ececec;
    border-right: 0.1px solid #ececec;
    border-top: 0.1px solid #eaeaea;
}



@media (max-width: 768px) {
    .welcome-section {
        flex-direction: column; /* Stack content and image vertically */
        align-items: center; /* Center align items */
        text-align: center; 
    }

    .image {
        order: 1; 
    }

    .content h1 {
        text-align: center;
    }

    .description {
        text-align: center;
    }
}

.rating{
    width: 90%;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2vh 5vh;
    margin: 0 auto;
    border-radius: 2.5vh;
}

.title{
    text-shadow: 1px 2px 3px rgb(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 5vh;
}

.button {
    border-bottom: 0.1px solid #eeeeee; 
    border-left: 0.1px solid #ececec;
    border-right: 0.1px solid #ececec;
    border-top: 0.1px solid #eaeaea;
    width: 75%;
    padding: 2.5%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    border-radius: 1.5vh; 
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
    margin-bottom: 5%;
  }

  .button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); 
    transform: translateY(-5px); 
  }

  .button img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .button h4 {
    margin-top: 0.5vh;
    margin-bottom: 0;
  }