{% extends "base.html" %}

{% block title %} - Additional Links{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/additional.css')}}">
{% endblock %}

{% block content %}
<h1>Additional Links</h1>

<div class="container text-center">
    <div class="row align-items-end">
      <div class="col">
        <div class="button-border" onclick="location.href='https://www.facebook.com/groups/800114240006214/';" style="cursor:pointer;">
          <img src="{{ url_for('static', filename='images/additional/facebook.png')}}" alt="facebook logo">
          <br><br>
          <h4>Facebook</h4>
        </div>
      </div>
      <div class="col">
        <div class="button-border" onclick="location.href='http://www.onlinescoutmanager.co.uk/login.php';" style="cursor:pointer;">
          <img src="{{ url_for('static', filename='images/additional/OSM.png')}}" alt="Logo - Online Scout Manager">
          <br><br>
          <h4>Online Scout Manager</h4>
        </div>
      </div>
    </div>
</div>


<div class="container text-center">
    <div class="row align-items-end">
      <div class="col">
        <div class="button-border" onclick="location.href='https://www.scouts.org.uk/';" style="cursor:pointer;">
          <img src="{{ url_for('static', filename='images/additional/logo.png')}}" alt="Scouts logo">
          <br><br>
          <h4>Scout Website</h4>
        </div>
      </div>
      <div class="col">
        <div class="button-border" onclick="location.href='https://shop.scouts.org.uk/';" style="cursor:pointer;">
          <img src="{{ url_for('static', filename='images/additional/shop.png')}}" alt="Logo - Scout Shop">
          <br><br>
          <h4>Scout Shop</h4>
        </div>
      </div>
    </div>
</div>

<div class="container text-center">
    <div class="row align-items-end">
      <div class="col">
        <div class="button-border" onclick="location.href='https://www.egscouts.org.uk/';" style="cursor:pointer;">
          <img src="{{ url_for('static', filename='images/additional/district.jpg')}}" alt="District Badge">
          <br><br>
          <h4>District</h4>
        </div>
      </div>
      <div class="col">
        <div class="button-border" onclick="location.href='https://www.westsussexscouts.org.uk/';" style="cursor:pointer;">
          <img src="{{ url_for('static', filename='images/additional/county.jpg')}}" alt="County Badge">
          <br><br>
          <h4>County</h4>
        </div>
      </div>
    </div>
</div>

{% endblock %}