{% extends "base.html" %}

{% block title %} - Badges{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/badges.css')}}">
{% endblock %}

{% block content %}
  <div class="whitespace">
    <h1>Badges</h1>
    <br>
    <p>Badges are the main focus with our programs/ schudule. This ensures that every youth member has the opportunity to earn as many as possible and get the learn/ understand what scouting has designed for the young people to learn external to the general education system. The badges represent the member's achievements and milestones within the movement. </p>

    <br><br>
    <h2>Placements</h2>
      
      <p></p>
      <br>
      
      <!--Not My Code / W3Schools-->
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <img class="myImg" src="https://prod-cms.scouts.org.uk/media/15129/2-beaver_uniform-diagrams_sept2021_portrait.png" alt="Beaver Uniform" width="100%">
          </div>
          <div class="col">
            <img class="myImg" src="https://cms.scouts.org.uk/media/15130/3-cubs_uniform-diagrams_sept2021_portrait.png" alt="Cubs Uniform" width="100%">
          </div>
          <div class="col">
            <img class="myImg" src="https://prod-cms.scouts.org.uk/media/15131/4-scouts_uniform-diagrams_sept2021_portrait.png" alt="Scouts Uniform" width="100%">
          </div>
        </div>
      </div>
      <p class="enlarge">Click an image to enlarge</ps>
    
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

    <br><br>
      <h2>Each Section's Badges</h2>
      <p>For the different section within the movement. There are different badges that they are able to earn. The main collections of badges are:</p>
      <ul>
        <li>Activity Badges</li>
        <li>Challenge Badges</li>
        <li>Staged Activity Badges
          <ul>
            <li>Unlikely, the other two. Staged Activity Badges can be earned at any point as a youth member</li>
          </ul>

      </ul>
      <br>

      <center>
        <embed style="box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); border: 0.25vh black solid;" width="100%" height="500" src="{{ url_for('static', filename='/documents/badges/4-25-programme-poster-pdf.pdf') }}#toolbar=0&scrollbar=0&navpanes=0" type="application/pdf"></embed>
      </center>
      
      <br><br>

      {% include "allbadges.html" %}

      <p class="dropdown">The dropdown contents information about badges for each section</p>
  </div>

  <script src="{{ url_for('static', filename='js/img_pop_out.js')}}"></script>
{% endblock%}