{% extends "base.html" %}

{% block title %} - Beavers{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/beavers.css')}}">
{% endblock %}


{% block content %}

<div class="welcome-section">
  <div class="content">
      <h1>All About the <br><span>Beaver Colony</span></h1>
      <p class="description">
        We'd like to share why it's a great opportunity for children aged 6 to 8. Our program offers a fun and enriching experience for kids, with weekly meetings on <span>Thursdays from 5:10 to 6:10</span>. We focus on engaging activities, games, and adventures, all while building important life skills and encouraging teamwork. Additionally, we offer special events like the Beaver sleepover, providing a chance for children to bond, create lasting memories, and learn valuable skills in a friendly atmosphere.
      <br><br>
      Our team of leaders and young leaders are dedicated mentors who guide kids through activities designed to help them earn badges representing valuable life lessons and skills. If you're a parent or guardian looking for a positive experience for your child, we welcome you to join us at Beavers.
      <br><br>
    </p>
      <p class="highlight">It's an opportunity that shapes confident, skilled, and responsible young individuals.</p>
  </div>
  <div class="image">
      <img src="{{ url_for('static', filename='images/beavers/YLs.jpg')}}" alt="Beavers doing an activity while being helped by young leaders (Stock Scout Image)" width="75%">
  </div>
</div>


{% include "helpful.html" %}
{% endblock %}