{% extends "base.html" %}

{% block title %} - Our History{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/history.css')}}">
{% endblock %}


{% block content %}

    <div class="timeline-container">
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>June 1954 - Mid 70s</h3>
                    <p>The 4th East Grinstead Scout Group was orginally opened in June 1954 and closed in the mid 70s. Unfortunately, we have very limited documentation between these periods.</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>March 1981</h3>
                    <p>Luckily for the group today, a local gentleman, Peter Roberts, reopened the group and the scout section.</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>July 1981</h3>
                    <p>A few months later, the cubs section was opened.</p>
                    <center>
                        <object data="{{ url_for('static', filename='documents/history/Cubs - Article.pdf') }}" type="application/pdf"><a href="{{ url_for('static', filename='documents/history/Cubs - Article.pdf')}}" download="Cubs Newspaper Article">Download Article</a></object>
                    </center>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>May 1984</h3>
                    <p>The group formally unveiled their beaver colony and held their first meeting. Below is a photo of one of their first investiture. There is also a news article, which provides more information</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>Event of 2010</h3>
                    <p>This is a description of a major event that happened in 2010. It marked the beginning of a new era in many fields.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
