{% extends "base.html" %}



{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}


{% block content %}
<!--Top Banner -->
<img src="{{ url_for('static', filename='images/Banner.jpg')}}" alt="A yellow triangle on a purple background" width="100%" , oncontextmenu="return false;"> 
<div class="purple-block">
  <h2>Welcome</h2>
</div>
<!--Section 1-->
<div class="white-block">
    <p>Welcome to the 4th East Grinstead Scout Group, a place where young adventurers thrive! Located at Trinity Methodist Church on Lingfield Road, we're excited to welcome kids aged 6 to 14 into our Beavers, Cubs, and Scouts sections.</p>
    <br>
    <p> At our scout group, we believe in nurturing young minds, fostering leadership skills, and creating unforgettable outdoor experiences. Whether it's camping under the stars, learning vital life skills, or building lifelong friendships, our group offers a world of opportunities.</p>
    <br>
    <p>Join us today and embark on a journey filled with fun, learning, and adventure. If you have any questions or want to get started, feel free to contact our Group Scout Leaders: <a href="mailto:">Billy Davis & Owen Jones</a>. Let's explore, learn, and grow together!</p>
</div>
<!--Section 2-->
<div class="fromleft">
    <div class="degree-tl"></div>
    <div class="colour-block">
        <h2 class="hHead">What Makes the 4th Unique.</h2>
        <br>
        <br>
        <p>
            Experience a one-of-a-kind Scouting journey with the 4th East Grinstead! We do things a bit differently, from Beaver sleepovers to Cub and Scout camps in green fields, where we use traditional patrol tents and open fires. Our unique camping style is made possible by our awesome leadership team.
        </p>
    </div>
    <div class="degree-bl"></div>
</div>
<!--Section 3-->
<div class="white-block">
    <br>
    <h2 class="hHead">Sections</h2>
    <br>
    <br>
    <br>
    <div class="container text-center">
      <div class="row align-items-center">
            <div class="col">
                <a href="/beavers"><img src="Pictures/Logos/Beavers.png" alt="Beavers Logo" class="beavers"></a>
            </div>
            <div class="col">
                <a href="/cubs"><img src="Pictures/Logos/Cubs.png" alt="Cubs Logo" class="cubs"></a>
            </div>
            <div class="col">
                <a href="/scouts"><img src="Pictures/Logos/Scouts.png" alt="Scout Logo" class="scouts"></a>
            </div>
        </div>
    </div>
</div>
<!--Section 4-->
<div class="fromright">
    <div class="degree-tr"></div>
    <div class="colour-block">
        <h2 class="hHead">Quick Links</h2>
        <br>
        <br>
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col">
                    <a href="https://yl.4theg.org.uk" class = "Sbutn">Young Leaders</a>
                </div>
                <div class="col">
                    <a href="/badges" class = "BPbutn">Badge Placement</a>
                </div>
                <div class="col">
                <a href="/about-us" class = "AUbutn">About Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="degree-br"></div>
</div>
<!--Section 5-->
<div class="white-block">
    <br>
    <br>
    <h2 class="hHead">Where we meet.</h2>
    <br>
    <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2326.3338583625605!2d-0.018959030867979666!3d51.131071451140826!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x62bd41575545a127%3A0x94498ab441bc64b7!2s4th%20East%20Grinstead%20Scout%20Group!5e0!3m2!1sen!2suk!4v1705746503607!5m2!1sen!2suk" width="600" height="450" style="border: 5px solid #ff912a;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>   
{% endblock %}