{% extends "base.html" %}

{% block title %} - Sections{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/section.css')}}">
{% endblock %}

{% block content %}
<h1>Sections</h1>
<br>
<p>This is our about page. This contains buttons to pages such as our History and Group's Documents/ Policies</p>

<div class="container text-center">
    <div class="row align-items-end">
        <div class="col">
            <div class="button-border" onclick="location.href='{{ url_for('beavers') }}';" style="cursor:pointer;">
                <img src="{{ url_for('static', filename='images/logos/beavers.png')}}" alt="beavers logo">
            </div>
        </div>
        <div class="col">
            <div class="button-border" onclick="location.href='{{ url_for('cubs') }}';" style="cursor:pointer;">
                <img src="{{ url_for('static', filename='images/logos/cubs.png')}}" alt="cubs logo">
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row align-items-end">
        <div class="col">
            <div class="button-border" onclick="location.href='{{ url_for('scouts') }}';" style="cursor:pointer;">
                <img src="{{ url_for('static', filename='images/logos/scouts.png')}}" alt="scout logo">
            </div>
        </div>
        <div class="col">
            <div class="button-border" onclick="location.href='https://yl.4theg.org.uk';" style="cursor:pointer;">
                <img src="{{ url_for('static', filename='images/logos/EYLs.png')}}" alt="Explorer and Young Leader logo">
            </div>
        </div>
    </div>
</div>

<br><br>
<h2>Other</h2>
<div class="container text-center">
    <div class="row align-items-end">
        <div class="col">
            <div class="button-border" onclick="location.href='{{ url_for('squirrels') }}';" style="cursor:pointer;">
                <img src="{{ url_for('static', filename='images/logos/squirrels.png')}}" alt="squrriels logo">
            </div>
        </div>
        <div class="col"id="notdis">
            <div class="button-border" onclick="location.href='https://yl.4theg.org.uk';" style="cursor:pointer;">
                <img src="{{ url_for('static', filename='images/logos/EYLs.png')}}" alt="Explorer and Young Leader logo">
            </div>
        </div>
    </div>
</div>

{% endblock %}
