{% extends "base.html" %}

{% block title %} - Trustee Board{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/trustee.css')}}">
{% endblock %}


{% block content %}
<div class="whitespace">
    <h1>Trustee Board</h1>
    <p>As a registered charity, each scouts group is required to have and be overseen by a Board of Trustees. The Trustees are responsible for ensuring that the group operates within the terms set out in the group’s constitution. The Trustees promote Scouting Values and ensure our young people are offered  fun activities  aimed at helping them develop Skills for Life.
        <br><br>If you would like more information about our Board of Trustees, or are perhaps interested in becoming a trustee, please contact our <a href="mailto:chairman4theg@gmail.com">Chairman</a>.</p>
    <br>
    <h2>Current Trustees</h2>

        <br>
    <table>
        <tr>
            <th class="colour-title">Trustee Member</th>
            <th class="colour-title">Role</th> 
        </tr>
        <tr>
            <td class="font">Tony Parsons</td>
            <td class="font">Chairman</td>
        </tr>
        <tr>
            <td class="font">Emily Brooks</td>
            <td class="font">Treasurer</td>
        </tr>
        <tr>
            <td class="font">Caz Gould</td>
            <td class="font">Secretary</td>
        </tr>
        <tr>
            <td class="font">Sandra Devine</td>
            <td class="font">Membership Secretary</td>
        </tr>
        <tr>
            <td class="font">Colin Smith</td>
            <td class="font">Trustee</td>
        </tr>

        <tr>
            <td class="font">William Mewis</td>
            <td class="font">Trustee</td>
        </tr>
        <tr>
            <td class="font">Tracey Roberts</td>
            <td class="font">Trustee</td>
        </tr>
        <tr>
            <td class="font">Owen Jones</td>
            <td class="font">Group Lead Volunteer</td>
        </tr>
    </table>
    <br><br>
    <h2>Fundraising</h2>
    <p>Along with the responsibilities mentioned above, we are also in charge of the group's finances. This includes ensuring we have enough funds to operate and to support each section in delivering fun, exciting activities. Fundraising is key to making this possible. If you're organising an event that could benefit the group financially, please reach out to us.
        <br><br>
        We have a <a href="https://donate.justgiving.com/charity/4thegscouts/donation-amount">JustGiving</a> page where you can donate to the group. Your donations will go towards activities for our young people. Every little bit helps, and we're grateful for your support. 
    </p>
</div>
{% endblock %}